{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'colony/table.css' %}" />


<form method="post">
    {% csrf_token %}
    <h1>Genotyping results for litter {{litter.breeding_cage.name}} </h1>
    <table style="display: inlne">
        <tbody>
            <tr>
                <td>Father</td>
                <td>{{litter.father.name}}<td/>
                <td>{{litter.father.new_genotype}}</td>
            </tr>
            <tr>
                <td>Mother</td>
                <td>{{litter.mother.name}}<td/>
                <td>{{litter.mother.new_genotype}}</td>
            </tr>            
        </tbody>
    </table>
    
    <h1>Results thus far</h1>
    <table style="display: inline">
        <thead>
            <tr>
                <th>Mouse</th>
                <th>Old Genotype</th>
                <th>Gene</th>
                <th>Zygosity</th>
                <th>Gene</th>
                <th>Zygosity</th>
            </tr>
        </thead>

        <tbody>
        {% for mouse in litter.mouse_set.all %}
            <tr>
                <td>{{ mouse.name }}</td>
                <td>{{ mouse.genotype }}</td>
                {% for mg in mouse.mousegene_set.all %}
                    <td>{{ mg.gene_name }}</td>
                    <td>{{ mg.zygosity }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>New genotyping results</h1>
    {{ form.as_p }}
    <input type="submit" value="Submit" />
    <br />
    {% url 'admin:gene:new' cage.pk as add_new_gene_url %} 
    <a href='/admin/colony/gene/add'>
        My gene is not in the drop-down list; I need to add it
    </a>
</form>