{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'colony/table.css' %}" />


<form method="post">
    {% csrf_token %}
    <p>Previous genotyping results</p>

    <table style="display: inline">
        <thead>
            <tr>
                <th>Mouse</th>
                <th>Old Genotype</th>
                <th>Gene</th>
                <th>Zygosity</th>
                <th>Gene</th>
                <th>Zygosity</th>
            </tr>
        </thead>

        <tbody>
        {% for mouse in litter.mouse_set.all %}
            <tr>
                <td>{{ mouse.name }}</td>
                <td>{{ mouse.genotype }}</td>
                {% for mg in mouse.mousegene_set.all %}
                    <td>{{ mg.gene_name }}</td>
                    <td>{{ mg.zygosity }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>Enter the genotyping results</p>
    {% url 'admin:gene:new' cage.pk as add_new_gene_url %} 
    <a href='/admin/colony/gene/add'>Add a new gene</a>
    
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>