{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'colony/table.css' %}" />

<h1>Current Litters I guess?????</h1>

<body>
<table style="display: inline">
	<thead>
		<tr><td>All</td></tr>
		<tr>
			<th>Cage</th>
			<th>Sticker</th>
			<th>DoBirth</th>
            <th>Earliest Wean</th>
            <th>Latest Wean</th>
            <th>Sexual Maturity</th>
		</tr>
	</thead>

	<tbody>
	{% for litter in wean_tbl %}
		<tr>
			<td>{{ litter[0]}}</td>
			<td>{{ litter[1]}}</td>
            <td>Nah</td>
			<td>Nah</td>
			<td>Nah</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</body>