{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'colony/table.css' %}" />

<h1>Colony Summary</h1>
<table style="display: inline">
	<thead>
		<tr><td>All</td></tr>
		<tr>
			<th>Owner</th>
			<th>Cages</th>
			<th>Mice</th>
		</tr>
	</thead>

	<tbody>
	{% for person in persons_all %}
		<tr>
			<td>{{ person.name }}</td>
			<td>{{ person.cages }}</td>
			<td>{{ person.mice }}</td>
		</tr>
	{% endfor %}
		<tr>
			<td style="font-weight:bold">Total</td>
			<td style="font-weight:bold">{{ all_totals.cages }}</td>
			<td style="font-weight:bold">{{ all_totals.mice }}</td>			
		</tr>
	</tbody>
</table>

<table style="display: inline; margin-left:100px">
	<thead>
		<tr><td>Current</td></tr>
		<tr>
			<th>Owner</th>
			<th>Cages</th>
			<th>Mice</th>
		</tr>
	</thead>

	<tbody>
	{% for person in persons_current %}
		<tr>
			<td>{{ person.name }}</td>
			<td>{{ person.cages }}</td>
			<td>{{ person.mice }}</td>
		</tr>
	{% endfor %}
		<tr>
			<td style="font-weight:bold">Total</td>
			<td style="font-weight:bold">{{ current_totals.cages }}</td>
			<td style="font-weight:bold">{{ current_totals.mice }}</td>			
		</tr>
	</tbody>
</table>